<!DOCTYPE html>
<html>
<head>
  <title>Создание рассылки</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

  <div class="container mt-5">
    <h2>Создание рассылки</h2>
    <div class="container mt-5">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createMailingModal">
      Создать рассылку
    </button>
  </div>
    <h1>Ваши рассылки</h1>

  <ul>
    {% for mailing in mailings %}
      <li>
        <a href="{% url 'show_mailing_details' mailing.id %}"><h3>{{ mailing.name }}</h3></a>
        <p>Шаблон: {{ mailing.email_template.name }}</p>
        <p>Получатели: {{ mailing.recipients.count }}</p>
        <p>Создано: {{ mailing.created_at }}</p>
      </li>
    {% empty %}
      <li>пока нет рассылок.</li>
    {% endfor %}
  </ul>
    <div class="modal fade" id="createMailingModal" tabindex="-1" role="dialog" aria-labelledby="createMailingModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createMailingModalLabel">Создать рассылку</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="mailingForm">
          {% csrf_token %}
          <div class="form-group">
            <label for="mailingName">Имя рассылки</label>
            <input type="text" class="form-control" id="mailingName" placeholder="Введите имя рассылки">
          </div>
          <div class="form-group">
              <label for="templateSelect">Выберите шаблон</label>
              <select class="form-control" id="templateSelect">
                {% for template in templates %}
                <option value="{{ template.id }}">{{ template.name }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group">
              <label for="recipients">Получатели</label>
              <select class="form-control" id="recipients" name="recipients" multiple>
                {% for recipient in recipients %}
                  <option value="{{ recipient.id }}">{{ recipient.name }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group">
              <label for="delayHours">Введите кол-во часов для отложенной рассылки</label>
              <input type="text" class="form-control" pattern="[0-9]\d*" id="delayHours" value="0">
            </div>
            <button type="submit" class="btn btn-primary">Создать рассылку</button>
          </form>
          </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function() {
  function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
      var cookies = document.cookie.split(';');
      for (var i = 0; i < cookies.length; i++) {
        var cookie = cookies[i].trim();
        if (cookie.substring(0, name.length + 1) === (name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }

  $.getJSON('/get_templates/', function(data) {
    var templateSelect = $('#templateSelect');
    $.each(data, function(index, template) {
      templateSelect.append($('<option>', {
        value: template.id,
        text: template.name
      }));
    });
  });

  $.getJSON('/get_contacts/', function(data) {
    var recipients = $('#recipients');
    $.each(data, function(index, contact) {
      recipients.append($('<option>', {
        value: contact.id,
        text: contact.name
      }));
    });
  });

  $('#mailingForm').on('submit', function(e) {
    e.preventDefault();

    var mailingName = $('#mailingName').val();
    var templateSelect = $('#templateSelect').val();
    var recipientIds = $('#recipients').val();
    var delayHours = $('#delayHours').val();

    if (mailingName.trim() === '') {
    alert('Пожалуйста, введите имя рассылки.');
    return;
  }
    if (recipientIds == null || recipientIds.length === 0) {
    alert('Пожалуйста, выберете получателей.');
    return;
  }

    var data = {
      mailingName: mailingName,
      templateSelect: templateSelect,
      recipientIds: recipientIds,
      delayHours: delayHours,
      csrfmiddlewaretoken: '{{ csrf_token }}'
    };

    $.ajax({
      url: '/send_mails/',
      type: 'POST',
      data: data,
      headers: {
        'X-CSRFToken': getCookie('csrftoken')
      },
      success: function(response) {
        if (response.success) {
        alert('Рассылка создана!');
        location.reload();

        $('#mailingForm')[0].reset();
      } else {
        alert('Рассылка не создана, попробуйте позже или заполните форму.');
      }
      },
      error: function(xhr, status, error) {
        // Handle error response
      }
    });
  });
});
  </script>

</body>
</html>
